In [6]:
import pandas as pd

In [7]:
import pandas as pd

notaSemillero=pd.DataFrame({"Nombre":["Pedro","Darden","Leidy","Luis","Martha",
                                      "Andrea","Carlos","Felipe","Andres","Julian"],"Semestre":[10,9,7,8,10,9,10,8,9,8]})
print(notaSemillero)

   Nombre  Semestre
0   Pedro        10
1  Darden         9
2   Leidy         7
3    Luis         8
4  Martha        10
5  Andrea         9
6  Carlos        10
7  Felipe         8
8  Andres         9
9  Julian         8

In [8]:
notaSemillero["Nota1"]=3
notaSemillero

   Nombre  Semestre  Nota1
0   Pedro        10      3
1  Darden         9      3
2   Leidy         7      3
3    Luis         8      3
4  Martha        10      3
5  Andrea         9      3
6  Carlos        10      3
7  Felipe         8      3
8  Andres         9      3
9  Julian         8      3

In [9]:
notaSemillero["Nota2"]=[3.1,4.2,3.3,4.5,4,4,3.8,5,4,3.1]
notaSemillero

   Nombre  Semestre  Nota1  Nota2
0   Pedro        10      3    3.1
1  Darden         9      3    4.2
2   Leidy         7      3    3.3
3    Luis         8      3    4.5
4  Martha        10      3    4.0
5  Andrea         9      3    4.0
6  Carlos        10      3    3.8
7  Felipe         8      3    5.0
8  Andres         9      3    4.0
9  Julian         8      3    3.1

In [10]:
notaSemillero=notaSemillero.insert(3,"Inasistencias")=[5,4,6,0,7,11,1,3,5]
notaSemillero

SyntaxError: ignored

In [ ]:
#Para este caso debemos conocer la posición para nuestra fila
notaSemillero.loc[10]=["Lucia",7,4.5,3.5,"Armenia","Quindio"]
notaSemillero.loc[3]=["Carolina",7,4.5,3.5,]